@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
margin: 0;
padding-bottom: 0px;
height: 100%;
margin: fill;
font-family: 'Roboto', sans-serif;
}
.header{
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 18px;
    }
.left-links,.firstheader {
    list-style: none;
    display:flex;
    flex-wrap: nowrap;
    gap: 30px;
}
.firstheader{
    font-size: 24px;
    font-weight: bold;
}
.hero{
 background-color: #1F2937;
 color:#F9FAF8;
 display: flex;
 flex-direction: row;
 justify-content:flex-start ;
 padding-top: 50px;
 padding-bottom: 80px;
 padding-left: 280px;
}
.hero1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 120px;
    max-width: 350px;
}
h1{
    font-size: 48px;
    margin:0;
}
p{
    margin:0;
    font-size: 20px;
}
.sign-up{
background-color:#3882F6;
color:#F9FAF8;
border-radius: 10px;
width: 100px;
margin-top: 10px;
padding: 5px;
font-weight: bold;
border-color: white;
max-height: 40px;
}
.background{
    display: flex;
    align-items: center;
    background-color: grey;
    padding: 0px 100px 0px 100px;
    margin-left: 390px;
}
.middle{
    display: flex;
    flex-direction: column;
}
.random{
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    margin: 20px;
    color:#1F2937;
    padding-top: 30px;
}

.boxes{
    display:flex;
    flex-direction: row;
    margin:15px;
    justify-content: center;
    padding-bottom: 70px;
}
.box{
    height: 180px;
    width: 180px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 30px;
    margin: 30px;
    margin-bottom: 10px;
}
.subtext{
    color:grey;
    padding-left: 50px;
    width: 150px;
    text-align: center;
}
.text{
    font-size: 36px;
    font-weight: 300;
    color:#1F2937;
    max-width: 800px;
    align-self: center;

}

.quote{
    padding: 80px;
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
}
.author{
    align-self: center;
    font-weight: bold;
    font-size: 25px;
    padding: 30px;
    padding-left: 440px;
}
.Advert{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 280px;
    margin-top: 70px;
    padding: 90px;
    background-color:#3882F6;
    color:#E5E7EB;
    border-radius: 30px;
    margin-bottom: 70px;
}
.Advert1{
    padding-right: 130px;
}
.footer{
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 50px;
}